body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-bebas-neue: "Bebas Neue";

  /* font sizes */
  --font-size-lg: 18px;
  --font-size-base-1: 16.1px;
  --font-size-2xl: 21px;

  /* Colors */
  --color-white: #fff;
  --blue-1: #2f80ed;

  /* Gaps */
  --gap-xl: 20px;
  --gap-23xl: 42px;
  --gap-2xl: 21px;
  --gap-lg: 18px;
  --gap-lg-6: 18.6px;

  /* Paddings */
  --padding-lg: 18px;
  --padding-xs: 12px;

  /* Border radiuses */
  --br-lg: 18px;
}
