.logo11-icon {
  height: 60px;
  width: 60px;
  position: relative;
}
.home {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 59px;
}
.service {
  flex: 1;
  min-width: 75px;
}
.about,
.contact,
.service {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
}
.contact {
  flex: 1;
  min-width: 79px;
}
.about {
  min-width: 60px;
}
.navigation {
  margin: 0;
  width: 381px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 36px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-2xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.arow-icon {
  height: 24px;
  width: 24px;
  position: relative;
  object-fit: contain;
  display: none;
}
.get-started {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-base-1);
  font-weight: 700;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 48px;
  white-space: nowrap;
}
.arow-icon1 {
  height: 24px;
  width: 24px;
  position: relative;
  object-fit: contain;
  display: none;
}
.button {
  cursor: pointer;
  border: 1.2px solid var(--color-white);
  padding: var(--padding-xs) var(--padding-lg);
  background-color: transparent;
  width: 86.5px;
  border-radius: var(--br-lg);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-lg-6);
}
.arow-icon2 {
  height: 24px;
  width: 24px;
  position: relative;
  object-fit: contain;
  display: none;
}
.get-started1 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-base-1);
  font-weight: 700;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 61px;
  white-space: nowrap;
}
.arow-icon3 {
  height: 24px;
  width: 24px;
  position: relative;
  object-fit: contain;
  display: none;
}
.button1 {
  cursor: pointer;
  border: 0;
  padding: 13.7px 19px 13.6px;
  background-color: var(--blue-1);
  border-radius: var(--br-lg);
  align-items: center;
  justify-content: center;
  gap: var(--gap-lg-6);
}
.button1,
.hero-buttons,
.main {
  display: flex;
  flex-direction: row;
}
.hero-buttons {
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  gap: 14px;
}
.main {
  width: 1578.9px;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
  z-index: 1;
}
.introducing {
  position: relative;
  font-weight: 200;
}
.ai-generetde,
.chat-bot {
  margin: 0;
}
.chat-bot-ai-container {
  position: relative;
  line-height: 108.59%;
}
.lorem-ipsum-is-simply {
  align-self: stretch;
  height: 135px;
  position: relative;
  font-size: 23px;
  line-height: 168%;
  font-family: var(--font-inter);
  display: inline-block;
  flex-shrink: 0;
}
.chat-bot-ai-generetde-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.arow-icon4 {
  height: 24px;
  width: 24px;
  position: relative;
  object-fit: contain;
  display: none;
}
.get-started2 {
  position: relative;
  font-size: var(--font-size-base-1);
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  min-width: 92px;
  white-space: nowrap;
}
.arow-icon5 {
  height: 24px;
  width: 24px;
  position: relative;
  object-fit: contain;
  display: none;
}
.button2 {
  cursor: pointer;
  border: 1.2px solid var(--color-white);
  padding: var(--padding-xs) var(--padding-lg);
  background-color: transparent;
  border-radius: var(--br-lg);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-lg-6);
}
.ai-description,
.ai-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.ai-description {
  align-self: stretch;
  gap: 44px;
  font-size: 132.5px;
  font-family: var(--font-bebas-neue);
}
.ai-title {
  width: 557px;
  gap: 29px;
  max-width: 100%;
  z-index: 2;
}
.effect-conversation {
  position: relative;
  line-height: 108.59%;
  font-weight: 300;
  z-index: 4;
}
.frame-child {
  width: 31px;
  height: 14.7px;
  position: relative;
}
.effect-conversation-parent,
.vector-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-wrapper {
  flex-direction: column;
  padding: var(--padding-lg) 0 0;
}
.effect-conversation-parent {
  flex-direction: row;
  gap: var(--gap-lg);
}
.frame-item {
  height: 47px;
  width: 47px;
  position: relative;
  border-radius: 50%;
  border: 0 solid var(--color-white);
  box-sizing: border-box;
}
.frame-inner {
  height: 19px;
  width: 19px;
  position: absolute;
  margin: 0 !important;
  top: 13.6px;
  left: 13.6px;
  object-fit: contain;
  z-index: 1;
}
.conversation-bubble,
.ellipse-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.ellipse-parent {
  flex-direction: row;
  position: relative;
  gap: 7.6px;
  width: 47px;
  height: 47px;
  z-index: 4;
}
.conversation-bubble {
  flex-direction: column;
  gap: var(--gap-23xl);
  max-width: 100%;
}
.lorem-ipsum-is-simply1 {
  align-self: stretch;
  height: 127px;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 168%;
  display: inline-block;
  flex-shrink: 0;
  z-index: 4;
}
.conversation {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-23xl);
}
.content,
.conversation,
.conversation-wrapper,
.side-news {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.conversation-wrapper {
  width: 415px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 124px 0 0;
  box-sizing: border-box;
  font-size: 33.2px;
}
.content,
.side-news {
  flex-direction: row;
}
.side-news {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.content {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 0 13px;
  box-sizing: border-box;
}
.background,
.ellipse-div,
.link {
  position: absolute;
  top: -468px;
  left: 83px;
  filter: blur(158.9px);
  border-radius: 50%;
  background-color: rgba(0, 62, 135, 0.9);
  width: 1837px;
  height: 707px;
}
.ellipse-div,
.link {
  top: 948px;
  left: 0;
  filter: blur(217.1px);
  background-color: rgba(84, 0, 135, 0.6);
  width: 685px;
  height: 624px;
}
.link {
  top: 710px;
  left: 534px;
  filter: blur(256.8px);
  background-color: rgba(135, 0, 73, 0.7);
  width: 1048px;
  height: 984px;
  z-index: 1;
}
.chaosgpt-scaled-copy-1 {
  position: absolute;
  top: 232px;
  left: 565px;
  width: 839px;
  height: 848.4px;
  object-fit: contain;
  z-index: 3;
}
.frame-child1,
.group-icon {
  position: absolute;
  top: 727px;
  width: 31px;
  height: 31px;
}
.group-icon {
  left: 1385px;
  object-fit: contain;
  z-index: 4;
}
.frame-child1 {
  left: 1438px;
  z-index: 2;
}
.background-parent {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.body {
  width: 100%;
  position: relative;
  background-color: #1f1337;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 35px 120px 230.7px 171px;
  box-sizing: border-box;
  gap: 172px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: 32.3px;
  color: var(--color-white);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1300px) {
  .side-news {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1125px) {
  .body {
    gap: 86px;
    padding-left: 85px;
    padding-right: 60px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .navigation {
    display: none;
  }
  .main {
    width: 1197.9px;
  }
  .introducing {
    font-size: 26px;
  }
  .chat-bot-ai-container {
    font-size: 53px;
    line-height: 86px;
  }
  .ai-description {
    gap: 22px;
  }
  .effect-conversation {
    font-size: 27px;
    line-height: 29px;
  }
  .body {
    gap: 43px;
    padding-left: 42px;
    padding-right: 30px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .navigation {
    gap: var(--gap-lg);
  }
  .introducing {
    font-size: 19px;
  }
  .chat-bot-ai-container {
    font-size: 33px;
    line-height: 58px;
  }
  .lorem-ipsum-is-simply {
    font-size: var(--font-size-lg);
    line-height: 31px;
  }
  .effect-conversation {
    font-size: 20px;
    line-height: 22px;
  }
  .effect-conversation-parent {
    flex-wrap: wrap;
  }
  .conversation,
  .conversation-bubble {
    gap: var(--gap-2xl);
  }
  .conversation-wrapper {
    padding-top: 81px;
    box-sizing: border-box;
  }
}
